<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<title>Capstone - Games List</title>
<link rel="stylesheet" type="text/css"
	href="/webjars/bootstrap/css/bootstrap.min.css" />
<link rel="stylesheet" href="../css/styles.css" />
</head>
<body class="wrapper">
	<nav class="navbar">
		<div class="container-fluid">
			<span class="navbar-brand mb-0 h1">Video Game Reviews</span>
			<ul class="nav mr-auto">
				<li class="nav-item mx-4"><a href="./">Home</a></li>
				<li class="nav-item mx-4"><a href="./games">Game List</a></li>
				<li class="nav-item mx-4"><a href="./about">About</a></li>
			</ul>
			<ul class="nav">
				<li sec:authorize="isAnonymous()" class="nav-item mx-4"><a
					href="../login">Login</a></li>
				<li sec:authorize="isAnonymous()" class="nav-item mx-4"><a
					href="../register">Register</a></li>
				<li sec:authorize="isAuthenticated()" class="nav-item mx-4">Welcome
					<span sec:authentication="principal.username">User</span>
				</li>
				<li sec:authorize="isAuthenticated()" class="nav-item mx-4"><a
					th:href="@{/logout}">Logout</a></li>
			</ul>
		</div>
	</nav>
	<div class="content">
		<h1 class="content-header">Games List</h1>
		<form class="d-flex mb-3">
			<label for="game-title" class="my-auto">Search:</label> <input
				class="form-control mx-3 my-auto" type="search" placeholder="Search"
				aria-label="Search" name="game-title" />
			<button class="btn btn-dark" type="submit">Search</button>
		</form>
		<table class="table table-hover text-light">
			<tr>
				<th>Game Title</th>
				<th>Genre</th>
				<th>Release Year</th>
				<th>Publisher</th>
			</tr>
			<tr th:if="${#lists.isEmpty(games)}">
				<td colspan="7">No games found. Add games.</td>
			</tr>
			<tr th:each="game : ${games}">
				<td><a class='text-info text-decoration-none'
					th:text="${game.gameTitle}" th:href="'./games/' + ${game.gameId}"></a></td>
				<td th:text="${game.genre}"></td>
				<td th:text="${game.releaseYear}"></td>
				<td th:text="${game.publisher}"></td>
			</tr>
		</table>
	</div>
</body>
</html>