<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<title>Capstone</title>
<link rel="stylesheet" type="text/css"
	href="/webjars/bootstrap/css/bootstrap.min.css" />
<link rel="stylesheet" href="./css/styles.css" />
</head>
<body class="wrapper">
	<nav class="navbar">
		<div class="container-fluid">
			<span class="navbar-brand mb-0 h1">Video Game Reviews</span>
			<ul class="nav mr-auto">
				<li class="nav-item mx-4"><a href="./">Home</a></li>
				<li class="nav-item mx-4"><a href="./games">Game List</a></li>
				<li class="nav-item mx-4"><a href="./about">About</a></li>
			</ul>
			<ul class="nav">
				<li sec:authorize="isAnonymous()" class="nav-item mx-4"><a
					href="../login">Login</a></li>
				<li sec:authorize="isAnonymous()" class="nav-item mx-4"><a
					href="../register">Register</a></li>
				<li sec:authorize="isAuthenticated()" class="nav-item mx-4">Welcome
					<span sec:authentication="principal.username">User</span>
				</li>
				<li sec:authorize="isAuthenticated()" class="nav-item mx-4"><a
					th:href="@{/logout}">Logout</a></li>
			</ul>
		</div>
	</nav>
	<div class="content">
		<h1 class="content-header">Video Game Reviews</h1>
		<p class="mx-4">Welcome to Video Game Reviews. Here you can find
			reviews of video games new and old, well known and obscure.</p>
		<p class="mx-4">You can find a list of all of my reviews <a class="text-info" href="./games">here.</a></p>
	</div>
</body>
</html>
